doctype html
html(lang="en",	ng-app="app")
	head
		title="ZenX Manager"
		meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0",   name="viewport")
		base(href=baseUrl,	target="_self")
		link(href="fonts/icons.css",	rel="stylesheet",	type="text/css")
		link(href="source/styles.css",	rel="stylesheet",	type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=latin,greek-ext,greek",	rel="stylesheet",	type="text/css")
		link(rel="stylesheet",	href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css")
		link(rel="stylesheet",	href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js")
		script(type="text/javascript")="window.version = '" + version + "'"
		script(src="source/app.js")
		link(rel="shortcut icon",	href="images/favicon.png")
	body(ng-view, ng-controller="desktop")
		.login-dialog.ani05(ng-controller="login")
			.login-logo
				span=version
			form(ng-submit="login()")
				input(type="text", name="username",	ng-model="username",	placeholder=lang["LOGIN_USERNAME"])
				input(type="password",	name="password",	ng-model="password",	placeholder=lang["LOGIN_PASSWORD"])
				md-button.md-raised(type="submit")=lang["LOGIN_LOGIN"]
				md-checkbox.md-primary(ng-model="rememberMe",	aria-label="Remember me")=lang["LOGIN_REMEMBER_ME"]
				div
					md-tooltip.error-tooltip(md-visible="showTooltip")=lang["LOGIN_ERROR"]
		.spinner
		.copyrights &copy 2015 Kosmas Papadatos. All rights reserved.
		.loading-status.ani05.out Authenticating...
		.window-template.out
			.window-head
				.title
				.x.head-button.icon-cross
				.fs.head-button.icon-checkbox-unchecked
			.window-content
		.dialog-template.out
			.title
			.message
			.button-wrapper
				md-button.md-primary.yes(aria-label="yes")
				md-button.no(aria-label="no")
		.desktop.out
			.dock
				.app-array
				.user-block
					.user-img.ani02(ng-click="toggleUserMenu()")
					.connected-light
					.clock
			.pool
		.user-menu.ani02.out
			.option.settings
				span.icon-cog
				span="{{ text.SETTINGS }}"
			.option.logout(ng-click="logout()")
				span.icon-exit
				span="{{ text.LOGOUT }}"
			span.arrow